.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-box {
  width: 45%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000;
}

.project-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 10px;
}

.project-technologies {
  font-style: italic;
  color: #666;
}